.header-child {
  height: 50px;
  width: 985px;
  position: relative;
  border-radius: 5px;
  background-color: #eee;
  flex-shrink: 0;
  display: none;
}
.product {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 70px;
  z-index: 1;
}
.cart-summary-header-title {
  width: 253px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
}
.price,
.quantity {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 46px;
  z-index: 1;
}
.quantity {
  min-width: 77px;
}
.cart-summary-header-quantity-p {
  width: 275px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.total {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 44px;
  z-index: 1;
}
.header2 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #eee;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px 38px 13px;
  gap: 136px;
}
.image-icon1 {
  height: 64.6px;
  width: 100px;
  position: relative;
  border-radius: 8px;
  object-fit: cover;
}
.gift-card-1201 {
  white-space: pre-wrap;
}
.discount-20-off,
.gift-card-1201 {
  width: 179px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.cart-summary-item-title-discou {
  width: 284px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 8px;
}
.cart-summary-item1,
.credits1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.cart-summary-item1 {
  min-width: 74px;
  white-space: nowrap;
}
.credits1 {
  min-width: 89px;
}
.cart-summary-item-price-value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.icon-plus1 {
  width: 16px;
  height: 16px;
  position: relative;
}
.cart-summary-item-quantity-inc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.cart-summary-item2 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 12px;
}
.cart-summary-item-quantity-inc1 {
  margin: 0;
  height: 19px;
  width: 16px;
}
.cart-summary-item-quantity-con {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px;
  gap: 26px;
}
.cart-summary-item-quantity-tim {
  align-self: stretch;
  height: 38px;
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.cart-summary-item-quantity {
  width: 117px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.cart-summary-item-price {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 88px 0 0;
  box-sizing: border-box;
  min-width: 206px;
  max-width: 100%;
  gap: 20px;
}
.cart-summary-item3 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 74px;
  white-space: nowrap;
}
.cart-summary,
.cart-summary-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cart-summary-item {
  width: 903px;
  flex-direction: row;
  gap: 15px;
}
.cart-summary {
  align-self: stretch;
  flex-direction: column;
  gap: 36px;
}
.cart-actions-divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.button,
.button1 {
  height: 54px;
  width: 133px;
}
.button1 {
  width: 146px;
}
.cart-action-buttons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.cart-actions,
.cart-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cart-actions {
  align-self: stretch;
  gap: 35px;
}
.cart-item {
  flex: 1;
  gap: 55px;
  max-width: 100%;
}
.checkout-details2 {
  position: relative;
  line-height: 22px;
}
.checkout-details1,
.header3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.header3 {
  flex: 1;
  border-radius: 5px;
  background-color: #eee;
  overflow: hidden;
  padding: 16px 24px;
}
.checkout-details1 {
  align-self: stretch;
  padding: 0 0 4px;
}
.cart-subtotal,
.checkout-summary-item {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 118px;
}
.checkout-summary-item {
  min-width: 78px;
  white-space: nowrap;
}
.checkout-summary,
.checkout-summary-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.checkout-summary-items {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.checkout-summary {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 20px 0 25px;
  box-sizing: border-box;
}
.other-taxes,
.shipping-handling {
  position: relative;
  line-height: 22px;
}
.other-taxes {
  display: inline-block;
  min-width: 107px;
}
.checkout-charge-item-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.b,
.b1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 54px;
  white-space: nowrap;
}
.checkout-charge-item-labels1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.checkout-charge-items,
.checkout-charges {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.checkout-charge-items {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.checkout-charges {
  justify-content: flex-end;
  padding: 0 22px 0 25px;
}
.checkout-charges,
.horizontal-rule,
.horizontal-rule-wrapper {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.horizontal-rule {
  flex: 1;
  position: relative;
  border-top: 1px solid #d9d9d9;
}
.horizontal-rule-wrapper {
  height: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 3px;
}
.b2,
.grand-total {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 103px;
}
.b2 {
  width: 78px;
  text-align: right;
  min-width: 78px;
  white-space: nowrap;
}
.grand-total-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.checkout-details,
.checkout-summary1 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.checkout-summary1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 25px;
}
.checkout-details {
  width: 504px;
  border-radius: 5px;
  background-color: #fbfbfb;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 32px;
  gap: 32px;
  min-width: 504px;
}
.cart-content,
.cart-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.cart-items {
  width: 1536px;
  justify-content: flex-start;
  gap: 47px;
}
.cart-content {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 1275px) {
  .checkout-details {
    flex: 1;
  }
  .cart-items {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .header2 {
    gap: 68px;
  }
}
@media screen and (max-width: 750px) {
  .cart-summary-item {
    flex-wrap: wrap;
  }
  .cart-summary {
    gap: 18px;
  }
  .cart-actions {
    gap: 17px;
  }
  .cart-item {
    gap: 27px;
    min-width: 100%;
  }
  .checkout-details {
    gap: 16px;
    min-width: 100%;
  }
  .cart-items {
    gap: 23px;
  }
}
@media screen and (max-width: 450px) {
  .header2 {
    gap: 34px;
  }
  .cart-summary-item-price {
    flex-wrap: wrap;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .cart-action-buttons,
  .checkout-charge-items,
  .checkout-summary-items,
  .grand-total-parent {
    flex-wrap: wrap;
  }
}
