.footer-links-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.powered-by {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 96px;
}
.payment-icons {
  height: 24px;
  width: 34px;
  position: relative;
  border-radius: 4px;
  object-fit: cover;
}
.footer-powered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.footer-note-child {
  height: 21px;
  width: 1px;
  position: relative;
}
.legal,
.refunds {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 47px;
}
.refunds {
  min-width: 69px;
}
.footer-content1,
.footer-note,
.footer-top {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.footer-note {
  flex-direction: row;
  align-items: center;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 22.6px;
}
.footer-content1,
.footer-top {
  flex-direction: column;
  align-items: flex-start;
}
.footer-content1 {
  align-self: stretch;
  flex: 1;
  gap: 99px;
}
.footer-top {
  height: 789px;
  width: 437px;
  padding: 215px 0 0;
  box-sizing: border-box;
  min-width: 437px;
}
.frame-child {
  height: 1004px;
  width: 960px;
  position: relative;
  box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.05);
  background-color: #f5f5f5;
  display: none;
  max-width: 100%;
}
.contact-information {
  position: relative;
  line-height: 22px;
}
.form-field {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 54px;
  font-family: Inter;
  font-size: 16px;
  color: #000;
}
.name-fields {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.payment-information {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
}
.card-information {
  display: inline-block;
  min-width: 127px;
}
.card-information,
.card-number-placeholder {
  position: relative;
  line-height: 22px;
}
.frame-icon,
.frame-inner,
.frame-item {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 24px;
}
.frame-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.form-field1 {
  align-self: stretch;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  gap: 20px;
  color: #d9d9d9;
}
.form-field2,
.form-field3 {
  border: 0;
  background-color: transparent;
  height: 54px;
  flex: 1;
  font-family: Inter;
  font-size: 16px;
  color: #d9d9d9;
  min-width: 131px;
}
.card-date,
.card-info {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.card-info {
  flex-direction: column;
}
.carholder-name {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 124px;
}
.form-field4 {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 54px;
  font-family: Inter;
  font-size: 16px;
  color: #d9d9d9;
}
.name-fields1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.country-or-region,
.usa {
  position: relative;
  line-height: 22px;
}
.usa {
  display: inline-block;
  min-width: 33px;
}
.country-dropdown-icon,
.icon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.icon6 {
  display: none;
}
.country-input,
.form-field5 {
  align-self: stretch;
  display: flex;
}
.form-field5 {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  gap: 20px;
  color: #d9d9d9;
}
.country-input {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.checkbox {
  margin: 0;
  height: 21px;
  width: 21px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.i-verified-that {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  min-width: 253px;
  max-width: 100%;
}
.verification-checkbox {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
  max-width: 100%;
  flex-shrink: 0;
}
.name-input-child {
  width: 324.5px;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.i-verified-that1 {
  align-self: stretch;
  position: relative;
  line-height: 135%;
}
.button5 {
  align-self: stretch;
  height: 54px;
}
.footer,
.name-input,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.name-input {
  width: 420px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 26px;
  z-index: 1;
}
.footer,
.rectangle-parent {
  flex-direction: row;
  box-sizing: border-box;
}
.rectangle-parent {
  width: 960px;
  box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.05);
  background-color: #f5f5f5;
  justify-content: flex-start;
  padding: 68px 38px;
  min-width: 960px;
  min-height: 1004px;
  font-size: 16px;
  color: #1c1c1c;
}
.footer {
  width: 1664px;
  justify-content: space-between;
  padding: 0 0 0 20px;
  gap: 20px;
  text-align: left;
  font-size: 12px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 1650px) {
  .footer-top {
    flex: 1;
  }
  .rectangle-parent {
    flex: 1;
    min-height: auto;
  }
  .footer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1300px) {
  .rectangle-parent {
    padding-top: 44px;
    padding-bottom: 44px;
    box-sizing: border-box;
    min-width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .footer-top {
    padding-top: 140px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .rectangle-parent {
    padding-top: 29px;
    padding-bottom: 29px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .footer-content1 {
    gap: 49px;
  }
  .footer-top {
    padding-top: 91px;
    box-sizing: border-box;
  }
  .payment-information {
    font-size: 19px;
    line-height: 23px;
  }
  .card-date,
  .form-field1,
  .verification-checkbox {
    flex-wrap: wrap;
  }
  .button5 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
