.use-of-services,
.use-of-services-container {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.use-of-services {
  padding-left: 43px;
}
.use-of-services-container {
  line-height: 120%;
  font-weight: 700;
}
.eligibility,
.please-read-these1,
.use-of-services-container {
  align-self: stretch;
  position: relative;
}
.please-read-these1 {
  font-size: 16px;
  line-height: 135%;
  color: #4b2f2f;
}
.eligibility {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.to-use-our {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  color: #4b2f2f;
}
.eligibility-ownership {
  width: 1441px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  max-width: 100%;
}
.account-creation,
.some-of-our {
  align-self: stretch;
  position: relative;
}
.account-creation {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.some-of-our {
  font-size: 16px;
  line-height: 22px;
  color: #4b2f2f;
}
.account-trademarks {
  align-self: stretch;
  gap: 16px;
}
.account-trademarks,
.eligibility-ownership-parent,
.use-of-services-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.eligibility-ownership-parent {
  width: 2044px;
  gap: 16px;
  max-width: 122%;
  flex-shrink: 0;
}
.use-of-services-parent {
  width: 1680px;
  padding: 0;
  box-sizing: border-box;
  gap: 32px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  color: #262626;
  font-family: Inter;
}
@media screen and (max-width: 750px) {
  .account-creation,
  .eligibility,
  .use-of-services-container {
    font-size: 26px;
    line-height: 31px;
  }
  .use-of-services-parent {
    gap: 16px;
  }
}
@media screen and (max-width: 450px) {
  .account-creation,
  .eligibility,
  .use-of-services-container {
    font-size: 19px;
    line-height: 23px;
  }
}
