.image-icon2 {
  height: 60px;
  width: 60px;
  position: relative;
  object-fit: cover;
}
.gift-card-link-images {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 3px 0 4px;
}
.all,
.categories {
  margin: 0;
}
.all-categories {
  position: relative;
  line-height: 20px;
}
.link20 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 8px 8px 7px;
  color: #262626;
}
.image-icon3 {
  height: 60px;
  width: 60px;
  position: relative;
  object-fit: cover;
}
.image-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 14px 0 13px;
}
.entertainment3 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 87.4px;
}
.link21 {
  width: 87.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 26px;
  box-sizing: border-box;
  gap: 2px;
}
.image-icon4 {
  width: 60px;
  height: 60px;
  position: relative;
  object-fit: contain;
}
.shopping2 {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  line-height: 20px;
  color: inherit;
  display: inline-block;
  min-width: 59.4px;
}
.link22 {
  width: 82px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 11px 26px;
  box-sizing: border-box;
  gap: 2px;
  font-size: 14px;
}
.gift-card-links {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  font-size: 13.8px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 750px) {
  .gift-card-links {
    flex-wrap: wrap;
  }
}
