.desert-1-icon5 {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: cover;
  min-height: 30px;
}
.dunetokens5 {
  text-decoration: none;
  position: relative;
  line-height: 30px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 123px;
  white-space: nowrap;
}
.logo-wrapper1,
.logo5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo5 {
  flex-direction: row;
  gap: 9px;
}
.logo-wrapper1 {
  flex-direction: column;
  padding: 1px 14px 0 0;
}
.border6,
.border7,
.form3 {
  border: 0;
  background-color: transparent;
  height: 32px;
  font-family: Roboto;
}
.form3 {
  width: 318.7px;
  font-size: 14px;
  color: #9ca3af;
}
.border6,
.border7 {
  color: #666;
}
.border6 {
  width: 89.1px;
  font-size: 16px;
}
.border7 {
  flex: 1;
  font-size: 15.9px;
}
.link-icon14 {
  align-self: stretch;
  width: 53.2px;
  position: relative;
  max-height: 100%;
  min-height: 32px;
}
.container12,
.login1 {
  width: 258.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.container12 {
  margin: 0;
  width: 1680px;
  justify-content: space-between;
  padding: 6px 24px 0;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: "Noto Sans";
}
.gaming1 {
  text-transform: uppercase;
}
.gaming,
.icon2 {
  position: relative;
  flex-shrink: 0;
}
.gaming {
  text-decoration: none;
  line-height: 20px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 60.9px;
  white-space: nowrap;
}
.icon2 {
  width: 16.8px;
  height: 16.8px;
  overflow: hidden;
}
.icon-container,
.item30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 1.2px;
}
.item30 {
  border-bottom: 2px solid #fff;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 13px 0 10px;
  gap: 7.8px;
}
.entertainment1 {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 121.6px;
  flex-shrink: 0;
  white-space: nowrap;
}
.link8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.icon3 {
  width: 16.8px;
  height: 16.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-frame,
.item31 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 1.2px;
}
.item31 {
  border-bottom: 2px solid #fff;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 13px 0 10px;
  gap: 7.9px;
}
.shopping {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 78px;
  flex-shrink: 0;
  white-space: nowrap;
}
.link9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.icon4 {
  width: 16.8px;
  height: 16.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-wrapper1,
.item32 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 1.2px;
}
.item32 {
  border-bottom: 2px solid #fff;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 13px 0 10px;
  gap: 8px;
}
.ea-sports-fc3 {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 101.9px;
  flex-shrink: 0;
  white-space: nowrap;
}
.item33,
.link10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.item33 {
  border-bottom: 2px solid #fff;
  padding: 13px 0 10px;
}
.blog3 {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 39.1px;
  flex-shrink: 0;
}
.item34,
.link11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.item34 {
  border-bottom: 2px solid #fff;
  padding: 13px 0 10px;
}
.header3,
.list4 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.list4 {
  width: 1680px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 1px 20px;
  gap: 32px;
}
.header3 {
  align-self: stretch;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0;
  gap: 12px;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: 14px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 1650px) {
  .container12 {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .list4 {
    gap: 16px;
  }
}
